<!DOCTYPE html>
<html>
<head>
    <title>My HTML Page</title>
</head>
<body>
    <h1>Welcome to My Django App!</h1>
    <button id="button">send hello</button>
<script>
  const socket = new WebSocket("wss://limset.um6p.ma/ws/notifications/");

  socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    alert(data.title + ": " + data.body);
  };

  socket.onopen = function(e) {
    console.log("WebSocket connection opened.");
  };

  socket.onclose = function(e) {
    console.log("WebSocket connection closed.");
  };

  document.getElementById('button').addEventListener('click', function() {
  
  const data = {
    type: 'chat',
    message: 'Hello, server!',
    userId: 123
  };

  socket.send(JSON.stringify(data));
  // You can add any action you want here
});
</script>

</body>
</html>
